<h1>Details of list</h1>
<div class="peu-importe" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
  <li><%= @list.name %></li>
</div>
 <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
